@font-face {
    font-family: "Outfit";
    font-display: swap;
    src: url(https://fonts.google.com/specimen/Outfit);
}
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
   
    --Very-dark-blue-background: hsl(217, 54%, 11%);
    --Very-dark-blue-card-background: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
}
* {
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
a:link {
    color: white;
}

a {
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    color: var(--Cyan);
}
body {
    background-color: var(--Very-dark-blue-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.nft-card {
    background-color: var(--Very-dark-blue-card-background);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 330px;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem rgb(0, 0, 0, .22) ;
    color: var(--Soft-blue);
}
.image-container {
    border-radius: .5rem;
    height: 282px;
    width: 282px;
    position: relative;
}
.image-container > img {
    border-radius: .5rem;
    height: 282px;
    width: 282px;
}
.svg-container  {
    position: absolute;
    top: 0;
    left: 0;
    height: 282px;
    width: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    border-radius: .5rem;
}
.svg-bg  {
    background-color: var(--Cyan);
    position: absolute;
    height: 282px;
    width: 282px;
    opacity: .50;
    border-radius: .5rem;
    z-index: 1;
}
.svg-container > svg {
    z-index: 2;
}
.image-container:hover .svg-container {
    visibility: visible;
    cursor: pointer;
}
.card-content > p{
    font-size: 18px;
    color: var(--Soft-blue);
    font-weight: 300;
}
.card-info {
    display: flex;
    justify-content: space-between;
}
.left-info{
    display: flex;
    gap: .5rem;
    color: var(--Cyan); 
}
.right-info {
    display: flex;
    gap: .5rem;
    color: var(--Soft-blue);
}
hr{
    margin-top: 1rem;
    color: var(--Very-dark-blue-line);
}
.card-footer{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .25rem;
}
.card-footer > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}